@import url("https://fonts.googleleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #222831;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Menu */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .sticky {
    padding: 5px 100px;
    background: white;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header .sticky .logo header .sticky ul li a {
    background: white;
}

/* Video Text */

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container video {
    width: 100%;
    height: 100%;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    background: grey;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300px;
    font-weight: 900;
    mix-blend-mode: multiply;
}

/* Blogs & Tweets */

.container-blog {
    background-color: #B590CA;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: white;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title :hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #b82424;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

/* Tweets */

.container-2 {
    background-color: #A8D3DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tracker */

.container-3 {
    background-color: #F5CAB3;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Contact */









@media(max-width:1250px) {
    .blog-box {
        width: 300px;
    }
}

@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}

@media(max-width:550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }

    #blog {
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: auto;
        height: auto;
    }
}